@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --text-clr: #ddd;
}

body {
  background-color: #191919;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231f1a1a' fill-opacity='0.24'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.24'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Roboto', sans-serif;
  color: var(--text-clr);
  text-align: center;
}
img {
  width: 100%;
  border-radius: 10px;
}
/**? IMAGES */
.images-container {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}
.image-wrapper {
  max-width: 296px;
  border: 5px solid var(--text-clr);
  border-radius: 10px;
  margin: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*? MODAL */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.75);
  backdrop-filter: blur(4px);
  display: none;
}

/*? MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 60%;
  border: 5px solid var(--text-clr);
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

.visible {
  display: flex;
}

.fas {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  cursor: pointer;
}
.fas:hover,
.fa-times-circle:hover {
  transform: scale(1.1);
}

.fa-arrow-circle-left {
  left: 1rem;
}
.fa-arrow-circle-right {
  right: 1rem;
}
.fa-times-circle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/*? MEDIA QUERIES */

@media screen and (max-width: 1550px) {
  .images-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1400px) {
  .images-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 950px) {
  .images-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 660px) {
  .images-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
